<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.shun_173.memerandum.domain.mapper.TaskMapper">

  <resultMap id="resultMapTask" type="Task">
    <id property="taskId" column="task_id" />
    <result property="title" column="title" />
  </resultMap>

  <insert id="insert" parameterType="Task">
    INSERT INTO task (task_id, title)
    VALUES(#{taskId}, #{title})
  </insert>

  <select id="selectById" parameterType="string" resultMap="resultMapTask">
    SELECT * FROM task WHERE task_id = #{taskId}
  </select>

</mapper>